:root {
  --white: #ffffff;
  --black: #000000;

  --pink: #f2a0ed;
  --pink-1: #f7daea;
  --pink-2: #efb6d4;
  --pink-3: #e791bf;
  --pink-4: #df6da9;
  --pink-5: #d74894;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--pink-3);
}

.container {
  margin: 0;
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 2px solid var(--pink-2) !important;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--white);
}

.container p {
  margin: 5px;
}

.container h3 {
  margin: 5px;
}

.hidden {
  display: none;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--pink-2);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

button:hover {
  background-color: var(--pink-4);
  scale: 1.1;
}

#choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choice {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  background-color: var(--pink-3);
}

.choice:hover {
  scale: 1;
}

#quiz-container {
  animation: showContainer 500ms linear 1;
}

@keyframes showContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  height: 100vh;
  top: 50%;
  left: 50%;
  width: 100%;
  margin: 0;

  transform: translate(-50%, -50%);
}

.text-beam {
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  background-color: #df6da9;
  width: 80%;
  position: absolute;
  white-space: nowrap;
  animation: moveText 5s linear 1;
  z-index: -1;
  font-weight: 600;
  opacity: 0;
}

@keyframes moveText {
  0% {
    left: 100%;
    opacity: 1;
  }
  50% {
    left: 25%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}


@media screen and (max-width: 600px) {
  .container {
      width: 60%;
  }

  .text-beam {
    animation: moveText 3s linear 1;
  }
}